.HistoryCell {
    background-color: white;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.cloudfrontStatus {
    color: white;
    background-color: #D0021B;
    border-radius: 10px;
    font-size: 12px;
    padding: 0.25rem;
}

.fstrzFlag {
    color: white;
    background-color: #1565C0;
    font-size: 10px;
    padding: 0.1rem;
    margin: 0.2rem;
}