body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: local('Source Sans Pro'), url(./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format('truetype');
}

* {
  font-family: 'Source Sans Pro';
}

table {
  border-collapse: collapse;
}

td {
  padding: 0.7rem;
}